[submodule "Drivers/User/XYMODEM"]
	path = Drivers/User/XYMODEM
	url = https://github.com/ZeHHHHH/Flexible-XYmodem.git
	branch = main
[submodule "Drivers/User/LVGL"]
	path = Drivers/User/LVGL
	url = https://github.com/lvgl/lvgl.git
[submodule "Drivers/User/DR_LIBS"]
	path = Drivers/User/DR_LIBS
	url = https://github.com/mackron/dr_libs.git
	branch = master
[submodule "Drivers/User/W25QXX"]
	path = Drivers/User/W25QXX
	url = https://github.com/libdriver/w25qxx.git
	branch = main
[submodule "Applications/lvgl/H7_MediaPlayer_UI"]
	path = Applications/lvgl/H7_MediaPlayer_UI/
	url = https://github.com/Pcb-yun/H7_MediaPlayer_UI.git
