# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

MDK-ARM/RTE/
MDK-ARM/H7_MediaPlayer/
MDK-ARM/DebugConfig/
MDK-ARM/*.uvguix.*
MDK-ARM/*.lst
MDK-ARM/*.scvd
MDK-ARM/armlib_lock_glue.c
MDK-ARM/stm32_lock.h
MDK-ARM/*.o
MDK-ARM/*.axf
MDK-ARM/*.hex
MDK-ARM/*.bin
MDK-ARM/*.d

keilkilll.bat
.cmsis/
